@use 'sass:map';
@import '../../../style/pages/all';

.news_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #7e7e7e;
  padding: 10px 0px;
  .news_image {
    cursor: pointer;
    height: 400px;
    border-radius: 10px;
  }
  .news_type {
    background-color: #f5f5f5;
    padding: 8px 12px;
    width: fit-content;
    border-radius: 5px;
  }
  .news_title {
    color: black;
    cursor: pointer;
    height: 40px;
    &:hover {
      color: map.get($theme-color, 'button');
    }
  }
  .news_published-date {
    display: flex;
    color: black;
    align-items: center;
    gap: 10px;
    span {
      color: #7e7e7e;
    }
    .news_published-date-space {
      height: 1px;
      width: 32px;
      background-color: #7e7e7e;
    }
  }
  .news_content {
    font-size: 1.4rem;
  }
  .news-detail_button {
    font-size: 16px;
    background-color: #d22227;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 36px;
    border: none;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
  }
}
.news_category {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  list-style: none;
  margin-bottom: 20px;
  .news_category-items {
    color: #7e7e7e;
    font-weight: 500;
    cursor: pointer;
    padding: 15px 0px;
    &:hover {
      color: map.get($theme-color, 'button');
    }
    &.active {
      text-decoration: underline;
      color: map.get($theme-color, 'button');
    }
  }
}
.news_blog {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  list-style: none;
  margin-bottom: 20px;
  .news_blog-items {
    color: #7e7e7e;
    font-weight: 500;
    cursor: pointer;
    padding: 15px 0px;
    &:hover {
      color: map.get($theme-color, 'button');
    }
  }
}

.news_published--content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
