@use 'sass:map';
@import '../../../style/pages/all';

.grid.recruit-background {
    background-image: url('../../../img/news-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.grid.wide.recruit-content {
    padding: 100px 0px;
    h2 {
        span {
            color: map.get($theme-color, 'button');
        }
    }
}
.col.l-3.related-news_item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.recruit {
    background-color: map.get($theme-color, 'main');
    color: black;
}

.recruit_news {
    width: 345px;
    background-color: map.get($theme-color, 'main');
    padding: 20px;
    .recruit_news_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 31px;
        color: map.get($theme-color, 'text');
    }
    .recruit_news_dscr {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        color: map.get($theme-color, 'button');
    }
    .recruit_news-detail {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        padding: 0px;
        list-style-position: inside;
    }
}
