.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.cart-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-table img {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.cart-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 19px;
}

.cart-table th {
  background-color: #f7f7f7;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
}

.cart-table input[type="number"] {
  width: 60px;
  text-align: center;
  line-height: 1.5;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.coupon-input {
  display: flex;
  align-items: center;
}

.coupon-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}

.coupon-input button {
  background-color: #ff4d4f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-summary {
  width: 350px;
  margin-left: auto;
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 10px;
  font-size: 17px;
  line-height: 1.6;
}

.cart-summary h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.cart-summary table {
  width: 100%;
}

.cart-summary td {
  padding: 10px 0;
  line-height: 1.5;
}


.cart-summary .total-price {
  font-weight: bold;
  color: red;
  font-size: 18px;
}

.cart-summary button {
  background-color: #ff4d4f;
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cart-summary button:hover {
  background-color: #ff7875;
}
