@use 'sass:map';
@import '../../../style/pages/all';

.grid.order_background {
    background-image: url('../../../img/news-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.grid.wide.order_content {
    padding: 100px 0px;
}
.order_step-align {
    display: flex;
    .order_step-detail1 {
        width: 115px;
        height: 56px;
        background-color: map.get($theme-color, 'button');
        transform: skew(-15deg);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        font-style: italic;
        color: map.get($theme-color, 'main');
        text-align: center;
        padding-top: 15px;
        position: relative;
        z-index: 11;
        box-shadow: 0px 4px 4px 0px #00000040;
        .order_step-underline1 {
            width: 90px;
            border: 2px solid #ffb800;
            position: absolute;
            bottom: 5px;
            right: 40px;
            z-index: 12;
        }
        .order_step-underline2 {
            width: 90px;
            border: 2px solid #ffb800;
            position: absolute;
            top: 5px;
            left: 50px;
            z-index: 12;
        }
    }
    .order_step-detail2 {
        width: 115px;
        height: 56px;
        background-color: #2e8db7;
        transform: skew(-15deg);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        font-style: italic;
        color: map.get($theme-color, 'main');
        text-align: center;
        padding-top: 15px;
        position: relative;
        z-index: 11;
        box-shadow: 0px 4px 4px 0px #00000040;
        .order_step-underline1 {
            width: 90px;
            border: 2px solid #ffb800;
            position: absolute;
            bottom: 5px;
            right: 40px;
            z-index: 12;
        }
        .order_step-underline2 {
            width: 90px;
            border: 2px solid #ffb800;
            position: absolute;
            top: 5px;
            left: 50px;
            z-index: 12;
        }
    }
    .order_step-detail3 {
        width: 115px;
        height: 56px;
        background-color: #ffb800;
        transform: skew(-15deg);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        font-style: italic;
        color: map.get($theme-color, 'main');
        text-align: center;
        padding-top: 15px;
        position: relative;
        z-index: 11;
        box-shadow: 0px 4px 4px 0px #00000040;
        .order_step-underline1 {
            width: 90px;
            border: 2px solid #d22227;
            position: absolute;
            bottom: 5px;
            right: 40px;
            z-index: 12;
        }
        .order_step-underline2 {
            width: 90px;
            border: 2px solid #d22227;
            position: absolute;
            top: 5px;
            left: 50px;
            z-index: 12;
        }
    }
    .order_step-dscr {
        box-shadow: 0px 4px 4px 0px #00000040;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 56px;
        transform: skew(-15deg);
        background-color: map.get($theme-color, 'main');
        color: black;
        font-size: 16px;
        font-weight: 700;
        font-style: italic;
        z-index: 10;
        text-align: center;
        p {
            font-weight: 500;
            margin: 0px;
            font-size: 12px;
        }
    }
}

.order_input-form {
    margin-top: 45px;
    background-color: map.get($theme-color, 'main');
    border-radius: 16px;
    padding: 14px 22px;
    .order_input-form-title {
        display: flex;
        justify-content: space-between;
        .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 35px;
            color: map.get($theme-color, 'button');
        }
        .sub-title {
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
        }
    }
    span {
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        color: map.get($theme-color, 'text');
    }
    input {
        margin-top: 10px;
        width: 543px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #9a9a9a;
        background-color: #ffffff;
        padding-left: 10px;
    }
    .order_input-form-upload {
        margin: 18px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 322px;
        background-color: #e0f0ff;
        svg {
            font-size: 8.8rem;
        }
        .upload-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 35px;
        }
        .upload-dscr {
            font-size: 13px;
            font-style: italic;
            font-weight: 500;
            line-height: 19px;
        }
    }
    .order_input-form-require {
        .require-title {
            font-size: 16px;
            font-weight: 700;
            line-height: 23px;
            color: map.get($theme-color, 'button');
        }
        .require-detail {
            display: flex;
            align-items: center;
            gap: 10px;
            .require-detail_dscr {
                font-size: 13px;
                font-weight: 500;
                line-height: 19px;
                span {
                    font-size: 13px;
                    font-weight: 700;
                }
            }
        }
        .require-list {
            display: flex;
            .require-list1 {
                margin-right: 55px;
                padding: 0px;
                list-style: none;
                .require-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .require-item_dscr {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 19px;
                        span {
                            font-size: 13px;
                            font-weight: 700;
                        }
                    }
                }
            }
            .require-list2 {
                padding: 0px;
                list-style: none;
                .require-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .require-item_dscr {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 19px;
                        span {
                            font-size: 13px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
.order_input-contact {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .contact-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        text-align: center;
    }
    .contact-dscr {
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
    }
}
.col.l-6.order_prop {
    padding-left: 55px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    .order_prop-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .order_prop-select {
            background-color: map.get($theme-color, 'button');
            width: 243px;
            height: 36px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            color: white;
            padding: 0px 10px;
        }
        .order_prop-time {
            span {
                font-size: 16px;
                font-weight: 700;
                line-height: 23px;
                text-align: right;
            }
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            text-align: right;
        }
    }
    .order_prop-choice {
        font-size: 20px;
        font-weight: 700;
        line-height: 29px;
        text-align: left;
        color: map.get($theme-color, 'text');
    }
    .material-size {
        display: flex;
        justify-content: space-between;
    }
    .prop-box {
        .title {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            line-height: 23px;
            text-align: left;
            color: map.get($theme-color, 'text');
            span {
                color: map.get($theme-color, 'button');
            }
        }
        .prop-select {
            background-color: map.get($theme-color, 'main');
            width: 243px;
            height: 36px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            color: #9a9a9a;
            padding: 0px 10px;
        }
    }
    .order_prop-underline {
        width: 100%;
        border: 1px solid black;
    }
    .order_total-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price-detail {
            font-size: 20px;
            font-weight: 700;
            p {
                color: map.get($theme-color, 'text');
            }
            span {
                color: map.get($theme-color, 'button');
            }
        }
        .price-button {
            width: 38%;
            height: 70%;
            background-color: map.get($theme-color, 'button');
            transform: skew(-15deg);
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
            line-height: 25px;
            font-style: italic;
            color: map.get($theme-color, 'main');
            text-align: center;
            padding-top: 15px;
            position: relative;
            z-index: 11;
            box-shadow: 0px 4px 4px 0px #00000040;
            .order_step-underline1 {
                width: 110px;
                border: 2px solid #ffb800;
                position: absolute;
                bottom: 5px;
                left: -10px;
                z-index: 12;
            }
            .order_step-underline2 {
                width: 110px;
                border: 2px solid #ffb800;
                position: absolute;
                top: 5px;
                right: -10px;
                z-index: 12;
            }
        }
    }
}
.choice-item {
    display: flex;
    .col.product-detail_checkbox {
        label {
            display: flex;
            align-items: center;
            position: relative;
            span {
                width: 100px;
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
            }
            .three-digit {
                width: max-content;
            }
            input[type='checkbox'] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: #d9d9d9;
                outline: none;
                cursor: pointer;
                transition: background-color 0.3s, border-color 0.3s;
            }
    
            input[type='checkbox']:checked {
                background-color: map.get($theme-color, 'button');
                border-color: map.get($theme-color, 'button');
            }
    
            input[type='checkbox']:checked::after {
                content: '\2713';
                position: absolute;
                top: 4px;
                left: 10px;
                font-size: 16px;
                color: white;
                line-height: 24px;
                text-align: center;
            }
        }
    }
}