@use 'sass:map';
@import '../../../../style/pages/all';

.grid.wide.logo-content {
    padding-top: 100px;
    font-size: 32px;
    font-weight: 700;
    .logo-content_align {
        display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .logo-content_title1 {
        padding-bottom: 30px;
        color: map.get($theme-color, 'text');
    }
    .logo-content_title2 {
        padding-bottom: 30px;
        color: map.get($theme-color, 'button');
    }
    .logo-content_dscr {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    .logo-content_list {
        padding: 0px;
        list-style: none;
        margin-top: 30px;
        .logo-content_list-item {
            font-size: 16px;
            font-weight: 500;
            line-height: 29px;
            display: flex;
            align-items: center;
            gap: 13px;
            svg {
                color: map.get($theme-color, 'button');
            }
        }
    }
    }
    .logo-content_img {
        width: 50vw;
    }
}
.col.l-6.logo-advanced_align {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.grid.wide.logo-advanced {
    padding: 100px 0px;
    .logo-advanced_title {
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 30px;
        color: map.get($theme-color, 'text');
    }
    .logo-advanced_dscr {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    .logo-advanced_list {
        padding: 0px;
        list-style: none;
        .logo-advanced_list-item {
            font-size: 16px;
            font-weight: 500;
            line-height: 29px;
        }
    }
    .logo-advanced_button {
        margin-top: 30px;
        width: 158px;
        height: 36px;
        border-radius: 35px;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map.get($theme-color, 'button');
        color: map.get($theme-color, 'main');
    }
}
.logo-cs_button-align {
    display: flex;
    justify-content: center;
    .logo-cs_button {
        margin-top: 60px;
        width: 158px;
        height: 36px;
        border-radius: 35px;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map.get($theme-color, 'button');
        color: map.get($theme-color, 'main');
    }
}
.logo-advanced_background {
    background-image: url('../../../../img/news-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.grid.wide.value {
    margin-top: 100px;
}
.value-align {
    margin-top: 40px;
}
.grid.wide.slogan {
    gap: 20px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 65px;
        height: 50px;
    }
    .slogan-title {
        color: map.get($theme-color, 'text');
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: 43px;
    }
    .slogan-dscr {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }
}
.grid.why-background {
    background-image: url('../../../../img/background-news.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
    .why-item {
        text-align: center;
        gap: 20px;
        padding: 0px 34px;
        display: flex;
        width: 380px;
        height: 231px;
        background: #ffffff;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
        border-radius: 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .why-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            color: map.get($theme-color, 'button');
        }
        .why-dscr {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}
.grid.wide.service-price {
    padding: 100px 0px;
    .service-price_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 43px;
        color: #ffffff;
        text-align: center;
    }
    .service-price_list {
        position: relative;
        margin: 0px;
        padding: 22px 40px;
        .logo-cs_button-align {
            position: absolute;
            bottom: 5%;
            right: 30%;
        }
        .service-price_item {
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            span {
                font-size: 16px;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }
    .low-spender {
        padding-top: 100px;
        .service-price_title {
            background-color: #2e8db7;
        }
        .service-price_list {
            height: 550px;
            border-bottom: 1px solid #2e8db7;
            border-right: 1px solid #2e8db7;
            border-left: 1px solid #2e8db7;
            .logo-cs_button {
                background-color: #2e8db7;
            }
        }
    }
    .med-spender {
        padding-top: 50px;
        .service-price_title {
            background-color: map.get($theme-color, 'button');
        }
        .service-price_list {
            height: 600px;
            border-bottom: 1px solid map.get($theme-color, 'button');
            border-right: 1px solid map.get($theme-color, 'button');
            border-left: 1px solid map.get($theme-color, 'button');
            .logo-cs_button {
                background-color: map.get($theme-color, 'button');
            }
        }
    }
    .high-spender {
        padding-top: 100px;
        .service-price_title {
            background-color: #ffb800;
        }
        .service-price_list {
            height: 550px;
            border-bottom: 1px solid #ffb800;
            border-right: 1px solid #ffb800;
            border-left: 1px solid #ffb800;
            .logo-cs_button {
                background-color: #ffb800;
            }
        }
    }
}
.grid.wide.logo-design_step {
    padding-top: 100px;
    .col.l-6.contact-list {
        padding: 0px;
    }
}
.grid.wide.main-customer {
    padding-top: 100px;
}
